<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <svg class="hidden" viewBox="0 0 5 11" version="1.1" id="park" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <g id="layer4">
            <rect style="display:block;stroke-width:0.259142" id="rect950" width="5" height="11" x="0" y="0" ry="0.025988679" />
        </g>
    </svg>

        <div class="main_img">
        <!-- <svg><use>로 재사용시 height이 %가 먹히지 않는 현상 -->
        <svg class="svg_size"  viewBox="0 0 127 90" version="1.1" id="parkmap" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <g id="layer1">
                <g id="g88" transform="matrix(0.42758164,0,0,0.42859526,0,1.2906432e-4)">
                    <g id="layer2">
                        <g id="g426" transform="translate(-85.460416)">
                            <path class="park_parts" style="fill-opacity:0.399142;stroke-width:0.264583" d="m 202.91785,0.00465088 c -0.94736,0 -1.70998,0.76260551 -1.70998,1.70997312 v 1.1611695 l -0.002,0.00155 V 36.542989 h 0.0114 v 65.286451 h -0.003 v 18.29139 c 0,0 0.48153,8.22593 -3.34036,12.04785 -4.55225,4.55223 -15.97319,4.16718 -15.97319,4.16718 h -7.3458 c -0.0275,-0.001 -0.0548,-0.004 -0.0827,-0.004 H 141.7843 c -0.94737,0 -1.70998,0.76261 -1.70998,1.70997 v 15.47606 c 0,0.003 5e-4,0.007 5.2e-4,0.0103 v 52.17614 l 0.001,0.003 v 2.53525 c 0,0.94737 0.76261,1.70997 1.70998,1.70997 h 3.79253 28.89539 141.42496 l 0.01,-0.006 h 2.40606 c 0.94736,0 1.70997,-0.76312 1.70997,-1.71049 v -2.7404 l 0.001,-0.002 v -51.89864 c 10e-4,-0.0241 0.004,-0.048 0.004,-0.0724 v -15.47554 c 0,-0.94737 -0.7626,-1.70997 -1.70997,-1.70997 h -2.66909 l -0.003,-0.001 h -84.62171 c -2.12583,-0.10469 -5.53522,-0.41304 -8.59999,-1.31206 -2.54597,-0.74682 -2.53656,-4.03797 -2.73472,-7.9251 -0.43364,-8.50632 13.42347,-14.48025 13.42347,-14.48025 v -0.0522 c 0.51529,-0.29081 7.11664,-3.97849 15.88223,-6.99028 7.41772,-2.54863 15.20933,-3.48117 17.42013,-3.70726 h 23.04097 l 0.003,-0.002 h 1.04076 c 0.94737,0 1.70998,-0.76261 1.70998,-1.70997 v -0.83406 l 0.004,-0.0047 V 41.908036 l -5.2e-4,-0.001 v -3.766695 c 0,-0.947368 -0.76261,-1.709974 -1.70997,-1.709974 H 263.69502 C 262.22774,35.867707 248.02469,30.296301 229.93687,18.547705 220.7664,12.591202 212.57243,6.1599366 207.27055,1.7983398 206.60388,1.1889235 206.8819,1.4431487 206.11805,0.75107602 205.6758,0.35038371 205.33092,0.01101867 204.92341,0.00465088 c -0.74934,-0.01114203 -1.31158,0 -2.00556,0 z" id="rect398" />
                        </g>
                    </g>
                    <g id="layer3" style="display:block">
                            <path class="other_parts" id="rect774" style="fill-opacity:0.399142;stroke-width:0.258689" d="M 5.4802856,112.06603 C 2.4441629,112.06603 0,114.51019 0,117.54631 v 1.93063 7.31429 77.81334 c 0,2.96848 2.3898429,5.35832 5.3583293,5.35832 H 46.896879 c 2.968486,0 5.358329,-2.38984 5.358329,-5.35832 v -70.46082 c 0,0 -0.04373,-0.95153 0.397563,-1.39283 0.452131,-0.45213 1.520666,-0.47941 1.520666,-0.47941 h 47.922143 c 3.03612,0 5.48028,-2.44416 5.48028,-5.48028 v -9.24492 c 0,-3.03612 -2.44416,-5.48028 -5.48028,-5.48028 z" />
                            <rect class="other_parts" style="fill-opacity:0.399142;stroke-width:0.259676" id="rect805" width="86.682358" height="8.2319012" x="210.33694" y="94.008163" ry="2.4321535" />
                            <rect class="other_parts" style="fill-opacity:0.399142;stroke-width:0.264583" id="rect803" width="55.959373" height="73.554169" x="241" y="136.43385" ry="5.4803715" />
                            <rect class="other_parts" style="fill-opacity:0.399142;stroke-width:0.264583" id="rect807" width="66.542709" height="98.160416" x="34.329689" y="0" ry="2.4321535" />
                        </g>
                    </g>
                </g>
            </svg>          
        
        <!-- <img class="svg_size" src="/images/park_test_2.svg" alt="주차장 이미지" /> -->

        <% var area_count = 0 %>
        <% var test = false %>
        <% function color() { if(data[area_count].park_area_state == 0){return "red";} else {return "green";} }; %>
        <% function draw_park_horizon(index, xlocation){ %>
            <% for(let i=0; i<index; i++){ %>
                <svg class= <%= "park_area_" + data[area_count].park_locate %> 
                    style=left:<%= xlocation+(i*1.3)+"%" %> 
                    fill=<%= color() %>>
                    <use xlink:href="#park"></use>
                </svg>
                <% console.log(area_count) %>
            <% area_count++ } %>
        <% } %>

        <% function draw_park_vertical(index, ylocation){ %>
            <% for(let i=0; i<index; i++){ %>
                <svg class= <%= "park_area_" + data[area_count].park_locate %> 
                    style=top:<%= ylocation+(i*3)+"%" %>
                    fill=<%= color() %>>
                    <use xlink:href="#park"></use>
                </svg>
                <% console.log(area_count) %>
            <% if(area_count < 105)area_count++ } %>
        <% } %>
        <!-- 6 -->
        <div class="park_area_list areaB1">
            <% var areaB1 = 45 %>
            <% draw_park_horizon(6, areaB1) %>
        </div>
        <!-- 8 -->
        <div class="park_area_list areaB2">
            <% var areaB2 = 17 %>
            <% draw_park_vertical(8, areaB2) %>
        </div>
        <!-- 10X2 -->
        <div class="park_area_list areaB3">
            <% var areaB3 = 44.5 %>
            <% draw_park_horizon(10, areaB3) %>
        </div>
        <div class="park_area_list areaB4">
            <% var areaB4 = 44.5 %>
            <% draw_park_horizon(10, areaB4) %>
        </div>
        <!-- 10 -->
        <div class="park_area_list areaB5">
            <% var areaB5 = 44.5 %>
            <% draw_park_horizon(10, areaB5) %>
        </div>
        <!-- 15 -->
        <div class="park_area_list areaB6">
            <% var areaB6 = 47.7 %>
            <% draw_park_horizon(15, areaB6) %>
        </div>
        <!-- 9X2 -->
        <div class="park_area_list areaB7">
            <% var areaB7 = 51.6 %>
            <% draw_park_horizon(9, areaB7) %>
        </div>
        <div class="park_area_list areaB8">
            <% var areaB8 = 51.6 %>
            <% draw_park_horizon(9, areaB8) %>
        </div>
        <!-- 12 + 2(경차) -->
        <div class="park_area_list areaB9">
            <% var areaB9 = 49 %>
            <% draw_park_horizon(14, areaB9) %>
        </div>
        <!-- 4 / 6 -->
        <div class="park_area_list areaB10">
            <% var areaB10 = 36 %>
            <% draw_park_horizon(4, areaB10) %>
        </div>
        <div class="park_area_list areaB11">
            <% var areaB11 = 36 %>
            <% draw_park_horizon(6, areaB11) %>
        </div>
        <!-- 6 + 1(장애인) -->
        <div class="park_area_list areaB12">
            <% var areaB12 = 36 %>
            <% draw_park_horizon(7, areaB12) %>
        </div>
        <!-- 3(장애인) -->
        <div class="park_area_list areaB13">
            <% var areaB13 = 82 %>
            <% draw_park_vertical(3, areaB13) %>
        </div>
        
        
    </div>
    
    
</body>
</html>